* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  /* Tắt con trỏ văn bản */
  caret-color: transparent;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background: #fffaf5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Variable */
:root {
  --primary_color: #ff5b2e;
  --heading_color: #000958;
  --desc_color: #656689;
  --link_hover_color: #fe997b;
}

/* Common Style */
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.overflow {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.btn {
  color: var(--primary_color);
  --height: 56px;
  display: inline-block;
  min-width: 130px;
  height: var(--height);
  line-height: var(--height);
  border: 1px solid var(--primary_color);
  border-radius: 99px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  transition: background-color 0.8s, color 0.8s;
}

.btn:hover {
  background-color: var(--link_hover_color);
  border-color: transparent;
  color: #fff;
}

.sticky {
  position: sticky;
  z-index: 9;
  top: 0;
}

.heading_style {
  color: var(--heading_color);
}

.desc_style {
  color: var(--desc_color);
  font-family: Poppins;
}

/*========================================== Header ==========================================*/
.header {
  background: #fffaf5;
  padding: 10px 0;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__list {
  display: flex;
}

.header-action__link,
.navbar__link {
  color: #5e6085;
  padding: 8px 25px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
  transition: color 0.2s;
}

.navbar__link {
  position: relative;
}

.navbar__link--icon {
  position: absolute;
  top: 5px;
  right: 0;
  opacity: 0;
  transition: opacity 0.9s;
}

.navbar__link:hover {
  color: var(--link_hover_color);
}

.navbar__link:hover .navbar__link--icon {
  opacity: 1;
}

.header-action__link:hover {
  text-decoration: underline;
  color: var(--link_hover_color);
}

.header-action__btn {
  --height: 50px;
  min-width: 118px;
}

/*========================================== Hero ==========================================*/
.hero {
  padding-top: 100px;
}

.hero__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* hero__media */
.hero__media {
  position: relative;
  padding-bottom: 94px;
}

/* hero__img-warp */
.hero__img--wrap {
  background: #fe997b;
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
  width: 388px;
  height: 488px;
  border: 3px solid #fff;
  border-radius: 16px;
}

.hero__img {
  max-width: 100%;
  max-height: 100%;
}

.hero__decor-top {
  position: absolute;
  top: 16px;
  right: -41px;
  z-index: -1;
}

.hero__decor-bottom {
  position: absolute;
  bottom: 10px;
  left: -58px;
  z-index: -1;
}

/* hero__img-small */
.hero__img--small {
  background: #faa7ad;
  display: flex;
  justify-content: center;
  align-items: end;
  position: absolute;
  bottom: 36px;
  right: -166px;
  border-radius: 16px;
  border: 2px solid #fff;
  width: 186px;
  height: 244px;
}

/* hero__img--box */
.hero__img--box {
  background: #fff;
  position: absolute;
  bottom: 0;
  right: 3px;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
  width: 250px;
  border-radius: 10px;
}

.hero__box--list {
  padding: 20px 0 20px 14px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.hero__box--item {
  background: #fec23f;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.hero__box--list:last-of-type .hero__box--item {
  background: #c6e2fa;
}

.hero__box--img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.hero__box--heading {
  color: #181e52;
  font-family: Sora;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
}

.hero__box--line {
  width: 118px;
  height: 4px;
  margin: 7px 0;
  border-radius: 10px;
  opacity: 0.08;
  background: #000958;
}

.hero__box--info .hero__box--line:last-of-type {
  width: 39px;
  margin-bottom: 0;
}

.hero__img--box span {
  background: #f2f2f2;
  display: block;
  width: 222px;
  height: 2px;
  margin: auto;
}

/* Hero content */
.hero__content {
  width: 45.35%;
}

.hero__content--heading {
  font-size: 6.6rem;
  font-weight: 800;
  line-height: 1.15;
  -webkit-line-clamp: 3;
}

.hero__content--desc {
  margin-top: 24px;
  width: 75.62%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.87;
  -webkit-line-clamp: 3;
}

/* hero__content--row */
.hero__content--row {
  margin-top: 38px;
  display: flex;
  gap: 24px;
  align-items: center;
}

.hero__content--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  --height: 60px;
  min-width: 189px;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__content--btn span {
  background-color: var(--primary_color);
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: background-color 0.5s, transform 0.9s;
}

.hero__content--btn:hover span {
  background-color: #fff;
  transform: translateX(15px) scale(1.5);
}

.hero__content--btn span::after {
  position: absolute;
  top: 7px;
  left: 6px;
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: transparent;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  rotate: 45deg;
  transition: border-color 0.5s;
}

.hero__content--btn:hover span::after {
  border-color: var(--primary_color);
}

.hero__content--call {
  color: var(--heading_color);
  text-align: center;
  font-family: Poppins;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  transition: color 0.5s;
}

.hero__content--call:hover {
  text-decoration: underline;
  color: var(--link_hover_color);
}

/*========================================== About ==========================================*/
.about {
  padding: 138px 0 200px 0;
}

.about__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  row-gap: 154px;
}

/* about__content */
.about__content--heading {
  width: 444px;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.19;
  -webkit-line-clamp: 2;
}

.about__content--desc {
  margin-top: 24px;
  width: 444px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.87;
  -webkit-line-clamp: 3;
}

/* about__content_top */
.about__check_list {
  margin: 57px 0 0 34px;
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 40px;
}

.about__check_list--item {
  color: #48496a;
  position: relative;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1;
}

.about__check_list--item::before {
  content: "";
  background: #ff5d31;
  box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
  position: absolute;
  top: -4px;
  left: -34px;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 4px;
}

.about__check_list--item::after {
  content: url(../icon/Check_icon.svg);
  position: absolute;
  top: -1px;
  left: -30px;
}

/* about__content_bottom */
.about__content:nth-of-type(2) .about__content--heading,
.about__content:nth-of-type(2) .about__content--desc {
  width: 517px;
}

/* About__media */
.about__media {
  position: relative;
}

/* about_card */
.about__card {
  background: #5bd6e2;
  box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
  position: absolute;
  top: 165px;
  left: 0;
  padding: 30px 26px;
  width: 136px;
  border-radius: 10px;
  text-align: center;
}

.about__card--number {
  color: #fff;
  display: block;
  font-family: Sora;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1;
}

.about__card--desc {
  color: #c6f4f9;
  margin-top: 14px;
  width: 83px;
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.42;
}

.about__card-decor {
  rotate: 35deg;
  position: absolute;
  top: -25px;
  right: -5px;
}

/* about__img-wrap */
.about__img-wrap {
  position: relative;
  width: 494px;
}

.about__img-wrap::before {
  position: absolute;
  bottom: 0;
  left: 96px;
  z-index: -1;
  content: "";
  background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
  display: inline-block;
  width: 494px;
  height: 336px;
  border-radius: 16px;
}

.about__img-wrap::after {
  content: url(../icon/About_decor_1.svg);
  position: absolute;
  top: 150px;
  right: -150px;
  z-index: -1;
}

.about__img {
  width: 450px;
  margin-left: 115px;
}

/* about__img-wrap_bottom */
.about__img-wrap_bottom .about__img {
  width: 458px;
  margin-left: auto;
  position: relative;
}
.about__img-wrap_bottom::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: -2px;
  width: 458px;
  height: 500px;

  border-radius: 18px;
  border: 2px solid #fff;
  background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
  box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.img_decor {
  position: absolute;
  z-index: 1;
}

.about__img-wrap_bottom img:nth-of-type(2) {
  top: 12px;
  right: 185px;
}
.about__img-wrap_bottom img:nth-of-type(3) {
  top: -15px;
  right: 135px;
}
.about__img-wrap_bottom img:nth-of-type(4) {
  top: 40px;
  right: 100px;
}
.about__img-wrap_bottom img:nth-of-type(5) {
  top: 50%;
  right: 90px;
}
.about__img-wrap_bottom img:nth-of-type(6) {
  top: 65%;
  right: 160px;
}
.about__img-wrap_bottom img:nth-of-type(7) {
  bottom: -70px;
  right: 60px;
}

/* about__content */

/* about__tab--list */
.about__tab--list {
  margin-top: 52px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 5px;
}

.about__tab--list::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255, 91, 46, 0.07);
  display: inline-block;
  width: 100%;
  height: 2px;
  border-radius: 1px;
}

.about__tab--item a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.about__tab--item.about__active {
  position: relative;
}

.about__tab--item.about__active .about__active-line {
  opacity: 1;
}
.about__active-line {
  display: block;
  position: absolute;
  bottom: -5px;
  left: 7px;
  height: 2px;
  width: 150px;
  border-radius: 1px;
  background: var(--primary_color);
  opacity: 0;
}

.about__tab--title {
  color: #48496a;
  font-family: Sora;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
  transition: color 0.3s;
}

/* about__tab__content */
.about__tab__content {
  margin-top: 36px;
}

.tab__content--item {
  display: none;
}

.tab__content--item.about__active {
  display: inline-block;
}

.tab__content--desc {
  width: 391px;
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.71;
  -webkit-line-clamp: 3;
}

.tab__content--more {
  color: #ff5d31;
  font-family: Poppins;
  display: block;
  margin-top: 32px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  transition: color 0.3s;
}

.tab__content--more:hover {
  color: var(--link_hover_color);
}

/*========================================== Services ==========================================*/
.services {
  background: #fff6ed;
}

.services__inner {
  padding: 68px 0 100px 0;
}

/* .services__top  */
.services__top {
  text-align: center;
}

.services__subtitle {
  color: #5e6085;
  font-family: Sora;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  -webkit-line-clamp: 1;
}

.services__heading {
  margin-top: 15px;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.19;
}

/* Services Content */
.services__content {
  margin-top: 31px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 70px;
}

/* .services__card */
.services__card {
  width: 294px;
  height: 208px;
  border-radius: 10px;
  border: 2px solid rgba(255, 188, 122, 0.26);
  background: #fff;
}

.services__card:not(.services__card:last-child) {
  margin-bottom: 24px;
}

.services__box {
  padding: 30px 26px;
}

.services__title {
  position: relative;
  padding-left: 12px;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1;
  -webkit-line-clamp: 1;
}

.services__title::before {
  background: linear-gradient(
    90deg,
    var(--primary_color) 0.39%,
    #ffa187 100.29%
  );
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 22px;
}

.services__desc {
  margin-top: 18px;
  width: 240px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.71;
  -webkit-line-clamp: 3;
}

.services__link {
  color: #34396a;
  display: flex;
  gap: 6px;
  font-family: Sora;
  margin-top: 24px;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
  transition: color 0.3s;
}

.services__link:hover {
  color: var(--link_hover_color);
}

/* Services media */
.services__media {
  position: relative;
  margin-top: 18px;
}

.services__media::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 3px;
  width: 100%;
  height: 350px;
  border-radius: 10px;
  background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.services__img {
  position: relative;
  z-index: 1;
  width: 100%;
}

.services___cta {
  margin-top: 45px;
  text-align: center;
}

.services__media--btn {
  width: 214px;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

/*========================================== Staff ==========================================*/
.staff {
  padding: 130px 0;
}

.staff__desc {
  color: #5e6085;
  text-align: center;
  font-family: Sora;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  -webkit-line-clamp: 1;
}

.staff__heading {
  margin-top: 15px;
  text-align: center;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.19;
  -webkit-line-clamp: 1;
}

.staff__list {
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 35px;
}

.staff__wrap {
  margin: 0 16px;
  border-radius: 130px;
  position: relative;
}

/* staff bgc */
.staff__wrap::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 94%;
  border-radius: 130px;
}

.staff__item:nth-child(1) .staff__wrap::before {
  background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}
.staff__item:nth-child(2) .staff__wrap::before {
  background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}
.staff__item:nth-child(3) .staff__wrap::before {
  background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}
.staff__item:nth-child(4) .staff__wrap::before {
  background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

/* staff-decor */
.staff__wrap::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 36px);
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.staff__item:nth-child(1) .staff__wrap::after {
  background-image: url(../icon/staff__decor-01.svg);
  background-position: bottom;
}

.staff__item:nth-child(2) .staff__wrap::after {
  background-image: url(../icon/staff__decor-02.svg);
  background-position: 0 16px;
}

.staff__item:nth-child(3) .staff__wrap::after {
  background-image: url(../icon/staff__decor-03.svg);
  background-position: bottom;
}

.staff__item:nth-child(4) .staff__wrap::after {
  background-image: url(../icon/staff__decor-04.svg);
  background-position: 0 16px;
}

.staff__img {
  position: relative;
  width: 100%;
  z-index: 1;
  border-radius: inherit;
}

.staff__item--title {
  color: #656689;
  margin-top: 30px;
  text-align: center;
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: 400;
}

.staff__item--name {
  color: var(--heading_color);
  margin-top: 14px;
  text-align: center;
  font-family: Sora;
  font-size: 2.2rem;
  font-weight: 600;
}

/* staff__cta */
.staff__cta {
  margin-top: 48px;
  text-align: center;
}

.staff__btn {
  min-width: 193px;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

/*========================================== Pricing ==========================================*/

.pricing {
  background: #fff6ed;
}

.pricing .container {
  width: 994px;
}

.pricing__inner {
  padding: 86px 0;
}

/* Pricing_top */
.pricing__top {
  text-align: center;
}

.pricing__heading {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.19;
  -webkit-line-clamp: 1;
}

.pricing__desc {
  display: inline-block;
  margin-top: 24px;
  width: 710px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.87;
  -webkit-line-clamp: 2;
}

/* pricing__body */
.pricing__switch--wrap {
  margin-top: 38px;
  display: flex;
  justify-content: center;
}

.pricing__switch--label {
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  width: 276px;
  height: 56px;
  border-radius: 31px;
  border: 1px solid rgba(255, 91, 46, 0.6);
  user-select: none;
  cursor: pointer;
}

.pricing__switch--label::before {
  background: var(--primary_color);
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  height: 56px;
  border-radius: inherit;
}

.pricing__switch--label::after {
  content: url(../img/pricing__save-img.svg);
  position: absolute;
  top: -15px;
  right: -100px;
}

.pricing__label-value {
  color: #fff;
  position: relative;
  z-index: 1;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
}

/* pricing animation */
.pricing__switch--input:checked + .pricing__switch--label::before {
  left: auto;
  right: 0;
  width: 131px;
}
.pricing__switch--input:checked
  + .pricing__switch--label
  .pricing__label-value:nth-child(1),
.pricing__switch--input:not(:checked)
  + .pricing__switch--label
  .pricing__label-value:nth-child(2) {
  color: var(--primary_color);
}

/* pricing__list */
.pricing__list {
  margin-top: 56px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 44px;
}

.pricing__item {
  background: #fff;
  border-radius: 20px;
}

.pricing__item--wrap {
  padding: 30px 28px 43px;
}

.pricing__item-type {
  color: var(--primary_color);
  font-size: 1.2rem;
  font-weight: 400;
}

.pricing__item-heading {
  color: #3f4065;
  margin-top: 8px;
  font-size: 1.8rem;
  font-weight: 600;
}

.pricing__item--price {
  color: var(--heading_color);
  margin-top: 24px;
  font-size: 3.4rem;
  font-weight: 700;
}

.pricing__item--btn {
  width: 100%;
  background: transparent;
  margin-top: 22px;
}

.pricing__item--list {
  margin: 24px 0 0 24px;
}

.pricing__item--item {
  color: var(--desc_color);
  margin-bottom: 18px;
  font-size: 1.4rem;
  font-weight: 400;
  position: relative;
}

.pricing__item--item:last-child {
  margin-bottom: 0;
}

.pricing__item--item::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 1px;
  left: -20px;
  width: 10px;
  height: 6px;
  border-left: 2px solid var(--primary_color);
  border-bottom: 2px solid var(--primary_color);
  rotate: -50deg;
}

.pricing__item:nth-child(1) .pricing__item--item:nth-child(4):before,
.pricing__item:nth-child(1) .pricing__item--item:nth-child(5):before,
.pricing__item:nth-child(1) .pricing__item--item:nth-child(6):before,
.pricing__item:nth-child(1) .pricing__item--item:nth-child(7):before,
.pricing__item:nth-child(2) .pricing__item--item:nth-child(6):before,
.pricing__item:nth-child(2) .pricing__item--item:nth-child(7):before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 1px;
  left: -20px;
  width: 10px;
  height: 6px;
  border-left: 2px solid var(--primary_color);
  border-bottom: 2px solid var(--primary_color);
  rotate: -50deg;
  opacity: 0.2;
}

/*========================================== Reviews ==========================================*/
.reviews {
  margin: 53px 0 130px 0;
}

.reviews__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reviews__btn {
  background: transparent;
  min-width: 54px;
  height: 54px;
  padding: 0;
  border-radius: 50%;
  border: none;
}

.reviews__btn:last-child {
  rotate: 180deg;
}

/* reviews_btn_style */
.reviews__btn .background {
  color: transparent;
}
.reviews__btn .circle-border {
  color: rgba(255, 91, 46, 0.3);
}

.reviews__btn .arrow {
  color: var(--primary_color);
}

.reviews__btn:active .background {
  color: var(--primary_color);
}
.reviews__btn:active .circle-border {
  color: var(--primary_color);
}
.reviews__btn:active .arrow {
  color: #fff;
}

/* reviews__media */
.reviews__media {
  position: relative;
  width: 274px;
  height: 427px;
  border-radius: 137px;
  overflow: hidden;
}

.reviews__media::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 274px;
  height: 350px;
  border-radius: 137px;
  background: #ffda54;
}

.reviews__img {
  position: relative;
  z-index: 1;
  width: 314px;
  height: 467px;
  object-fit: cover;
}

/* reviews__content */
.reviews__content {
  width: 553px;
}

.reviews__heading {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.19;
  -webkit-line-clamp: 1;
}

.reviews__quote {
  margin-top: 24px;
  color: #000;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.55;
}

.reviews__name {
  position: relative;
  margin: 34px 0 0 28px;
  color: #282828;
  font-family: Sora;
  font-size: 1.8rem;
  font-weight: 600;
}

.reviews__name::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 8px;
  left: -25px;
  width: 20px;
  height: 2px;
  background: #000;
  border-radius: 1px;
}

.reviews__pagination--box {
  margin: 56px auto 0 auto;
  display: block;
  width: 72px;
  height: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews__pagination--dots {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid var(--primary_color);
}

.reviews__pagination--dots.reviews__dots--active {
  width: 30px;
  border-radius: 5px;
  background: var(--primary_color);
}

/*========================================== Blog ==========================================*/

.blog__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog__heading {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.19;
  -webkit-line-clamp: 1;
}

.blog__desc {
  width: 350px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.87;
  -webkit-line-clamp: 2;
}

.blog__btn {
  margin-top: 24px;
  min-width: 182px;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

/* blog__list */
.blog__list {
  margin-top: 54px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 48px;
}

/* blog__item */
.blog__item {
  width: 358px;
  border-radius: 24px;
  padding-bottom: 30px;
  /* cursor: pointer; */
}

/* blog__item--media  */
.blog__item--media {
  width: 100%;
  border-radius: 24px 24px 0 24px;
  border: 3px solid #f7e9da;
}

.blog__item:nth-child(1) .blog__item--media {
  background: #fbc0b1;
}
.blog__item:nth-child(2) .blog__item--media {
  background: #e5d2a8;
}
.blog__item:nth-child(3) .blog__item--media {
  background: #d2cfbe;
}

.blog__media--date {
  color: #fff;
  padding: 24px 0 0 36px;
  font-family: Sora;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.21;
}

.blog__media--img {
  margin: 25px 0 -2px 35px;
  border-radius: 24px 0 0 0;

  width: 90%;
  height: 362px;
  object-fit: cover;
}

/* blog__item--content */

.blog__content--heading {
  margin: 28px 0 0 10px;
  width: 338px;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.54;
  -webkit-line-clamp: 2;
}

.blog__desc {
  margin: 16px 0 0 10px;
  width: 351px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.71;
  -webkit-line-clamp: 3;
}

/*========================================== Footer ==========================================*/
.footer {
  margin-top: 131px;
}

.footer__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* footer__follow */
.footer__follow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff6ed;
}

.footer__follow--wrap {
  width: 268px;
}

.search__form {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.search__form--input {
  background: #fff;
  width: 80%;
  height: 46px;
  border-radius: 23px;
  border: 1px solid rgba(255, 91, 46, 0.25);
  opacity: 0.6;
  padding-left: 22px;
}

.search__form--input::placeholder {
  color: #656689;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.16;
}

.search__form--submit {
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: var(--primary_color);
  border: 1px solid var(--primary_color);
}

.search__form--submit:hover {
  opacity: 0.8;
}

.search__form--submit::before {
  content: url(../icon/footer__arow.svg);
  position: absolute;
  top: 13px;
  left: 13px;
}

/* Social */
.social__heading {
  margin-top: 68px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.11;
}

.social__list {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.social__list a {
  text-align: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #fff;
}

.social__list a:hover .social__link {
  transform: scale(1.5);
}

.social__link {
  margin-top: 9px;
  transition: all 0.5s;
}

/* Footer Info */

.footer__info--list {
  margin: 52px 0 0 129px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  column-gap: 137px;
  row-gap: 58px;
}

.footer__info--heading {
  margin-bottom: 14px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.11;
}

.footer__info--link {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2;
  white-space: nowrap;
}

a.footer__info--link:hover {
  text-decoration: underline;
}

.copy_right {
  margin: 52px 0 48px 22px;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.16;
  opacity: 0.5;
}
